/* ==========================================================================
   #S-PARTNERS
   ========================================================================== */

.s-partners {
  padding-top: 0;
  padding-bottom: 0;

  .container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.partners-list li {
  margin-left: 14px;
}