/* ==========================================================================
   #S-SERVICES
   ========================================================================== */

.services__heading-2 {
  margin-top: rem(40px);
}

.socials-list {
  color: #fff;
}

.icon-wrap--vk {
  background-color: #496f9d;
}
.icon-wrap--telegram {
  background-color: #42bde8;
}
.icon-wrap--messenger {
  background-color: #007aff;
}
.icon-wrap--viber {
  background-color: #794f9b;
}
.icon-wrap--click {
  background-color: #f8e29c;
}

.socials-list li {
  margin-right: 20px;
}